/* Your Website Styles */



/* Gallery Stying */
.gallery .control-button {
  color: #a61412;
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

:root {
  background-color: #000;
}

/*
	Theme controls how everything looks in Gallery CSS.
*/
.gallery {
  position: relative;
}
.gallery .item {
  height: 400px;
  overflow: hidden;
  text-align: center;
  background: #a61412;
}
.gallery .controls {
  position: absolute;
  bottom: -120px;
  width: 100%;
  text-align: center;
}

.gallery .controls img {
  border-radius: 50%;
  border: #a61412 2px solid;
}

.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}

p {
  color: #555;
  font-family: 'Futura', 'Helvetica', sans-serif;
  font-size: .75em;
  text-align: center;
  padding-bottom: 10px;
}


/* Show Grid
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}
*/